.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
*.log
tsconfig.json
.editorconfig
.prettierrc.json
output.js
rollup.config.js
vite.config.ts
index.html
src/
public/
packages/
script/
docs/
